---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

const links = new Map([
  ["/#about", "À propos"],
  ["/#formation", "Formation"],
  ["/#projects", "Projets"],
  ["/#contact", "Contact"],
]);

const socials = [
  {
    name: "GitHub",
    href: "https://github.com/bflorestal/",
    icon: "mdi:github",
  },
  {
    name: "LinkedIn",
    href: "https://linkedin.com/in/bryan-florestal/",
    icon: "mdi:linkedin",
  },
];
---

<header
  class="fixed z-10 flex h-[var(--header-height)] w-full items-center justify-between bg-bgcolor bg-opacity-80 px-6 py-2 backdrop-blur-md transition-all"
>
  {/* Logo */}
  <a href="/#" aria-label="Accueil" class="flex items-center justify-center">
    <Image src="/img/logo.jpeg" alt="Logo" width={50} height={50} />
  </a>
  {/* Liens */}
  <nav class="hidden items-center justify-center md:flex">
    <ul class="flex gap-x-4">
      {
        Array.from(links, ([href, label]) => (
          <li class="">
            <a
              href={href}
              class="px-2 font-medium text-neutral-300 transition-shadow duration-300 hover:opacity-80"
            >
              {label}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  {/* GitHub et LinkedIn */}
  <div class="flex items-center justify-center gap-x-3">
    {
      socials.map((socialMedia) => (
        <a
          aria-label={`Mon profil ${socialMedia.name}`}
          href={socialMedia.href}
          target="_blank"
        >
          <Icon
            name={socialMedia.icon}
            class="h-8 w-8 transition-opacity hover:opacity-80"
          />
        </a>
      ))
    }
  </div>
</header>

<script>
  const header = document.querySelector("header");
  const height = { lg: 110, std: 66 } as const;

  window.addEventListener("scroll", () => {
    if (!header) return;

    if (window.scrollY > 0) {
      header.classList.add("shadow-md");
      header.style.setProperty("--header-height", `${height.std}px`);
    } else {
      header.classList.remove("shadow-md");
      header.style.setProperty("--header-height", `${height.lg}px`);
    }
  });
</script>

<style>
  header {
    --header-height: 110px;
  }
</style>
